@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

$color-white: hsl(0, 8%, 100%);
$color-dark: hsl(230, 35%, 7%);
$color-light: hsl(231, 77%, 98%);

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin before-underline {
  content: "";
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 4px;
  background-color: $color-white;
}

@mixin before-underline-top {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 4px;
  background-color: $color-white;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Bellefair", serif;
}

main {
  background-image: url(/assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  @include flex-center();
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation {
  @include flex-center();
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 5%;

  .logo {
    width: 60px;
  }

  .nav-line {
    width: 30%;
    height: 1px;
    opacity: 0.5;
    background-color: $color-white;
    position: relative;
    left: 20px;
    z-index: 1;
    visibility: visible;
  }

  .nav-bar {
    @include flex-center();
    width: 60%;
    height: 100px;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(1.5rem);
    backdrop-filter: blur(1.5rem);

    .nav-list {
      @include flex-center();
      margin-right: 40px;
      position: relative;
      &::before {
        @include before-underline();
        width: 0;
      }
      &:hover::before {
        @include before-underline();
        opacity: 0.5;
      }

      &:last-child {
        margin-right: 0;
      }
      .nav-link {
        color: white;
        font-family: "Barlow Condensed", sans-serif;
        letter-spacing: 2px;
        font-size: 1.3rem;
        text-transform: uppercase;
        position: relative;
        padding: 5px 0;

        .number {
          margin-right: 5px;
          letter-spacing: 3px;
        }

        &.active-link {
          &::before {
            @include before-underline();
          }
        }
      }
    }
  }
  .nav-toggle {
    display: none;

    gap: 5px;
    position: absolute;
    right: 20px;
    .bar {
      width: 25px;
      height: 3px;
      background-color: white;
    }
  }

  .number {
    display: inline;
  }
}

@media (max-width: 1100px) {
  .navigation {
    top: 0;
    .nav-line {
      display: none;
    }
    .logo {
      margin-right: auto;
      margin-left: 50px;
    }
    .nav-bar {
      width: 80%;
      .nav-list {
        .nav-link {
          .number {
            display: none;
          }
        }
      }
    }
  }
  .number {
    display: none;
  }
}
@media (max-width: 680px) {
  .navigation {
    z-index: 999;
    .nav-toggle {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      .bar {
        transition: all 0.2s ease-out;
      }
    }

    .nav-toggle.nav-toggle-active .bar:nth-child(2) {
      opacity: 0;
    }
    .nav-toggle.nav-toggle-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .nav-toggle.nav-toggle-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .nav-bar {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      width: 70%;
      height: 100vh;
      position: absolute;
      left: 100%;
      top: 0;
      transition: all 0.5s ease-in-out;
      animation-fill-mode: both;

      .nav-list {
        margin-bottom: 50px;
        position: relative;
        top: 20%;
        left: 10%;
        width: 80%;

        &:hover::before {
          @include before-underline();
          width: 0;
        }

        .nav-link {
          width: 400px;
          &.active-link {
            &::before {
              @include before-underline();
              width: 0;
            }
          }
          &::before {
            @include before-underline-top();
          }
          &:hover::before {
            @include before-underline-top();
            width: 100%;
            transition: all 0.2s ease-in-out;
          }
          .number {
            display: inline;
          }
        }
      }
    }
    .left-twenty {
      left: 30%;
    }
  }
}

.content-box {
  @include flex-center();
  width: 80%;
  .text-box {
    position: relative;
    width: 45%;
    margin-right: 10%;
    color: $color-white;
    font-family: "Barlow Condensed", sans-serif;
    .upper-text {
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 3px;
      margin-bottom: 10px;
    }
    .space-text {
      font-family: "Barlow", sans-serif;
      font-size: 6rem;
      text-transform: uppercase;
      letter-spacing: 10px;
      margin-bottom: 10px;
    }
    .bottom-text {
      font-size: 1.5rem;
      line-height: 30px;
    }
  }
  .explorer {
    color: $color-dark;
    .btn-explore {
      width: 300px;
      height: 300px;
      border-radius: 100%;
      font-size: 2rem;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      z-index: 1;
      border: 1px solid white;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: white;
        z-index: -1;
      }
      &:hover::before {
        transform: scale(1.3);
        opacity: 0.2;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}

@media (max-width: 1100px) {
  .content-box {
    @include flex-center();
    justify-content: center;
    flex-direction: column;
    .text-box {
      text-align: center;
      width: 100%;
      margin-right: 0;
      margin-bottom: 10%;
    }
  }
}

@media (max-width: 680px) {
  .content-box {
    margin-top: 18%;
    .text-box {
      margin-bottom: 13%;
    }
  }
}
